<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
	<link href="https://unpkg.com/vuetify@1.0.17/dist/vuetify.min.css" type="text/css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
	<link rel="shortcut icon" href="<%= GLOBALS.BASE_URL_WITHOUT_API+GLOBALS.LOGO %>">

	<title>
		<%= GLOBALS.APP_NAME %> API</title>
	<style type="text/css">
		.medium-text {
			font-size: 18px;
			color: white;
		}
		.blue-grey {
		    background: #169565 !important;
		    border-color: #607d8b !important;
		}
	</style>
</head>

<body>
<BR><BR>

	<div id="main" style="margin:0px auto; text-align:center; position:sticky;">
	  <center>
	  <table border="0" cellpadding="10" cellspacing="10" width="70%" style="background: #169565;color: #fff;font-weight: bold;">
	   	  <tr>
              <td><b>Server URL :-</b></td>
              <td><%= GLOBALS.PORT_BASE_URL %>api/v1/</td>
              <td>Header Parameters :</td>
              <td><b>API-KEY,<br>TOKEN,<br>Accept-Language</b></td>
	   	  </tr>
	   	  <tr>
              <td colspan="4" align="center"><b>If Device Token not get pass 0 only</b></td>
	   	  </tr>
	   </table>
	  </center>
	  
		<br>
		<br>
	</div>
	<div id="app">
		<v-app id="inspire">

			<v-layout justify column>
				<v-flex style="margin:0px auto; padding:0px; text-align:center;" center right sm2 xs2 md2 lg2 xl2>
					<img src='<%= GLOBALS.BASE_URL_WITHOUT_API+GLOBALS.LOGO %>' width="150px" height="150px">
					<br>
				</v-flex>
				<v-flex style="margin:0px auto; padding:0px;" center right sm2 xs2 md2 lg2 xl2>
			    		
				  <div id="main" style="margin:0px auto; position:sticky;">
				    <table border="0" cellpadding="10" cellspacing="10"  width="100%" style="background: #169565;color: #fff;font-weight: bold;">
					    <tr>
			              <td><b>Server URL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src='<%= GLOBALS.BASE_URL_WITHOUT_API+ GLOBALS.ARROW_IMAGE %>' width="40px"></b></td>
			               <td><%= GLOBALS.PORT_BASE_URL %>api/v1/</td>
				   	    </tr>
				   	    <tr>
			              <td><b>Header Parameters &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src='<%= GLOBALS.BASE_URL_WITHOUT_API+ GLOBALS.ARROW_IMAGE %>' width="40px"></b></td>
			              <td>API-KEY,TOKEN,Accept-Language</td>
				   	    </tr>
				   	    <tr>
			              <td><b>API-KEY &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src='<%= GLOBALS.BASE_URL_WITHOUT_API+ GLOBALS.ARROW_IMAGE %>' width="40px"></b></td>
			              <td><b><%= GLOBALS.API_KEY %></b></td>
				   	    </tr>
				   	    <tr>
			              <td><b>KEY &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src='<%= GLOBALS.BASE_URL_WITHOUT_API+ GLOBALS.ARROW_IMAGE %>' width="40px"></b></td>
			              <td><b><%= GLOBALS.KEY %></b></td>
				   	    </tr>
				   	    <tr>
			              <td><b>IV &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src='<%= GLOBALS.BASE_URL_WITHOUT_API+ GLOBALS.ARROW_IMAGE %>' width="40px"></b></td>
			              <td><b><%= GLOBALS.IV %></b></td>
				   	    </tr>
				    </table>						 
						<br>
						<br>
					</div>
				</v-flex>
				<v-flex style="margin:0px auto;" center right sm2 xs2 md2 lg2 xl2>
					<a target="_blank" href='/v1/Api_document/user_list'>
						<v-btn color="blue-grey" class="white--text">
							User LIST
							<v-icon right dark>people</v-icon>
						</v-btn>
					</a>
					<a target="_blank" href='/v1/Api_document/code'>
						<v-btn color="blue-grey" class="white--text">
							CODE REFERENCE
							<v-icon right dark>code</v-icon>
						</v-btn>
					</a>
					<a target="_blank" href='<%= GLOBALS.BASE_URL %>enc_dec.php'>
						<v-btn color="blue-grey" class="white--text">
							ENCRYPTION URL
							<v-icon right dark>lock</v-icon>
						</v-btn>
					</a>
				</v-flex>
				<v-expansion-panel popout>
					<v-expansion-panel-content v-for="(message, i) in messages" :key="i" hide-actions>
						<v-layout slot="header" align-center row spacer>
							<v-flex sm1 xs1 md1 lg1 xl1>
								<v-avatar slot="activator" size="36px">
									<v-icon :color="message.color">{{ message.icon }}</v-icon>
								</v-avatar>
							</v-flex>
							<v-flex sm3 xs3 md3 lg3 xl3>
								<strong v-html="message.title"></strong>
								<v-chip v-if="message.meth" :color="`${message.color} lighten-4`" label small class="ml-0">
									{{ message.meth }}
								</v-chip>
							</v-flex>
							<v-flex sm3 xs3 md3 lg3 xl3>
								<strong v-html="message.name"></strong>
							</v-flex>
							<v-flex sm4 xs4 md4 lg4 xl4>
								<v-flex v-if="message.link" class="grey--text" ellipsis hidden-sm-and-down>
									{{ message.link }}
								</v-flex>
								<v-flex v-if="message.imp" class="grey--text" ellipsis hidden-sm-and-down>
									<p style="color:darkred">SHOW IMPORTANT NOTE INSIDE</p>
								</v-flex>
							</v-flex>
						</v-layout>
						<v-card dark>
							<v-container>
								<v-layout>
									<v-flex xs12 align-end flexbox>
										<v-alert :value="true" outline color="white" style="padding:5px;">
											<v-chip color="teal" text-color="white">
												<v-avatar>
													<v-icon>check_circle</v-icon>
												</v-avatar> MANDATORY
											</v-chip>
											{{message.mandatory}}
										</v-alert>
										<v-alert :value="true" outline color="white" style="padding:5px;">
											<v-chip outline color="#F0F4C3">
												<v-avatar>
													<v-icon>check_circle</v-icon>
												</v-avatar>OPTIONAL
											</v-chip>
											<span>{{ message.optional }}
										</v-alert>
										<v-alert v-if="message.link" :value="true" outline color="white" style="padding:5px;">
											<v-chip color="light-green darken-2" text-color="white">
												<v-avatar>
													<v-icon>explore</v-icon>
												</v-avatar> LINK
											</v-chip>
											<span>{{ message.link }}
										</v-alert>
										<v-alert v-if="message.imp" :value="true" outline color="white" style="padding:5px;">
											<v-chip color="red darken-2" text-color="white">
												<v-avatar>
													<v-icon>flight_land</v-icon>
												</v-avatar> IMPORTANT
											</v-chip>
											<p v-html="message.imp"></p>
										</v-alert>
										<v-alert v-if="message.exp" :value="true" outline color="white" style="padding:5px;">
											<v-chip color="blue darken-2" text-color="white">
												<v-avatar>
													<v-icon></v-icon>
												</v-avatar> EXAMPLE
											</v-chip>
											<p v-html="message.exp"></p>
										</v-alert>
										<v-alert v-if="message.notes" :value="true" outline color="white" style="padding:5px;">
											<v-chip color="blue lighten-1" text-color="white">
												<v-avatar>
													<v-icon>bookmark</v-icon>
												</v-avatar> NOTES
											</v-chip>
											<span>{{ message.notes }}
										</v-alert>
										<v-layout style="margin-top:-4px">
											<v-flex xs6 align-end flexbox>
												<v-alert :value="true" outline color="yellow" icon="priority_high" style="padding:5px;">
													<span class="grey--text">HEADER : {{ message.is_header }}, PUSH : {{ message.is_push }}</span>
													<br>
													<span>HEADER : {{ message.header }}</span>
												</v-alert>
											</v-flex>
											<v-flex xs6 align-end flexbox>
												<v-alert style="margin-left:4px; padding:5px;" :value="true" outline color="yellow" icon="priority_high">
													STATUS :
													<span v-html="message.status"></span>
												</v-alert>
											</v-flex>
										</v-layout>
									</v-flex>
								</v-layout>
							</v-container>
							<v-card-actions>
							</v-card-actions>
						</v-card>
					</v-expansion-panel-content>
				</v-expansion-panel>
			</v-layout>
		</v-app>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.0/vue.min.js"></script>    
	<script src="https://unpkg.com/vuetify@1.0.17/dist/vuetify.min.js"></script>
	<script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>

	<script>
		//console.log('<%= GLOBALS.BASE_URL %>enc_dec.php');

		new Vue({
			el: '#app',
			data: () => ({
				messages: [
					{
						color     : 'orange',
						icon      : 'http',
						title     : 'DIRECT LINK',
						name      : 'Terms & Condition',
						meth      : 'NO',
						link      : "<%= GLOBALS.BASE_URL_WITHOUT_API %>home/terms_and_condition",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, token",
						notes     : "Static Link for terms and condition details",
						status    : "",
					}, 
					{
						color     : 'orange',
						icon      : 'http',
						title     : 'DIRECT LINK',
						name      : 'Privacy Policy',
						meth      : 'NO',
						link      : "<%= GLOBALS.BASE_URL_WITHOUT_API %>home/policy_content",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, token",
						notes     : "Static Link for privacy policy details",
						status    : "",
					}, 
					{
						color     : 'orange',
						icon      : 'http',
						title     : 'DIRECT LINK',
						name      : 'About Us',
						meth      : 'NO',
						link      : "<%= GLOBALS.BASE_URL_WITHOUT_API %>home/about_content",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, token",
						notes     : "Static Link for About us details",
						status    : "",
					},
					{
						color     : 'orange',
						icon      : 'http',
						title     : 'DIRECT LINK',
						name      : 'Faq View',
						meth      : 'NO',
						link      : "<%= GLOBALS.BASE_URL_WITHOUT_API %>home/faqview",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, token",
						notes     : "Static Link for Faq List details",
						status    : "",
					},
				
					{
						color     : 'teal',
						icon      : 'person',
						title     : '0 : AUTH',
						name      : 'Signup',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/signup",
						mandatory : "firstname, lastname, email, country_code, phone, dob(YYYY-MM-DD), password, confirm_password, country, device_type[A,I], device_token",
						optional  : "uuid, ip, os_version, profile_image, promocode, longitude, latitude, region_id",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY",
						notes     : "This api used for signup user here, device_type as A=>Android, I=>IOS",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 =>Failed || Code 1 => Success",
					},

					{
						color     : 'teal',
						icon      : 'person',
						title     : '1 : AUTH',
						name      : 'Verify OTP',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/verify_otp",
						mandatory : "user_id, otp_code",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY",
						notes     : "This api used for verify OTP",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 =>Failed || Code 1 => Success",
					},

					{
						color     : 'teal',
						icon      : 'person',
						title     : '2 : AUTH',
						name      : 'Resend OTP',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/resend_otp",
						mandatory : "user_id, country_code, phone",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY",
						notes     : "This api used for resend OTP",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 =>Failed || Code 1 => Success || Code 2 => No data",
					},

					{
						color     : 'teal',
						icon      : 'person',
						title     : '3 : AUTH',
						name      : 'Upload Video',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/upload_video",
						mandatory : "user_id, video",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY",
						notes     : "This api used for upload video",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 =>Failed || Code 1 => Success",
					},

					{
						color     : 'teal',
						icon      : 'person',
						title     : '4 : AUTH',
						name      : 'Add/Update/Delete Student Profile',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/student_profile",
						mandatory : "action[1,2,3]",
						optional  : "user_id[action => 1], student_id[action => 2,3],firstname[action => 1,2], lastname[action => 1,2],dob[action => 1,2], video, image",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY",
						notes     : "This api used for add/edit/delete student profile. [Action 1=>Add], [Action 2=>Edit], [Action 3=>Delete]. Here dob[YYYY-MM-DD]",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 =>Failed || Code 1 => Success || Code 2 => No data",
					},

					{
						color     : 'teal',
						icon      : 'person',
						title     : '5 : AUTH',
						name      : 'Login',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/login",
						mandatory : "country_code, phone, password, device_type[A,I], device_token, latitude, longitude",
						optional  : "uuid, ip, os_version",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY",
						notes     : "This api used for login",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 =>Failed OR Inactive account|| Code 1 => Success || Code 4 => OTP pending",
					},

					{
						color     : 'teal',
						icon      : 'person',
						title     : '6 : AUTH',
						name      : 'Get User Details',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/get_userdetails",
						mandatory : "",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used for get user details",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 =>Failed || Code 1 => Success",
					},

					{
						color     : 'teal',
						icon      : 'person',
						title     : '7 : AUTH',
						name      : 'Forgot Password',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/forgotpassword",
						mandatory : "type[email, phone]",
						optional  : "email, country_code, phone",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY",
						notes     : "This api used for forgot password",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 =>Failed || Code 1 => Success",
					},

					{
						color     : 'teal',
						icon      : 'person',
						title     : '8 : AUTH',
						name      : 'Change Password',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/change_password",
						mandatory : "old_password, new_password",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used for change password",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 =>Failed || Code 1 => Success",
					},


					{
						color     : 'teal',
						icon      : 'person',
						title     : '8.1 : AUTH',
						name      : 'Create Password',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/create_password",
						mandatory : "password, confirm_password,country_code, phone",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY",
						notes     : "This api used for create password",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 =>Failed || Code 1 => Success",
					},

					{
						color     : 'teal',
						icon      : 'person',
						title     : '9 : AUTH',
						name      : 'Update Device INFO',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/updatedevice_info",
						mandatory : "device_type[A,I], device_token",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used for update device info",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 =>Failed || Code 1 => Success",
					},

					{
						color     : 'teal',
						icon      : 'person',
						title     : '10 : AUTH',
						name      : 'Update Location INFO',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/updatelatlng",
						mandatory : "latitude, longitude",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used for update location info",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 =>Failed || Code 1 => Success",
					},

					{
						color     : 'teal',
						icon      : 'person',
						title     : '11 : AUTH',
						name      : 'Logout',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/logout",
						mandatory : "",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used for logout",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 =>Failed || Code 1 => Success",
					},

					{
						color     : 'teal',
						icon      : 'person',
						title     : '12 : AUTH',
						name      : 'Edit Profile',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/edit_profile",
						mandatory : "",
						optional  : "firstname, lastname, email, country_code, phone, dob[YYYY-MM-DD], country,profile_image, promocode,region_id",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used for edit profile",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 =>Failed || Code 1 => Success",
					},

					{
						color     : 'teal',
						icon      : 'person',
						title     : '13 : AUTH',
						name      : 'Contact Us',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/contactus",
						mandatory : "email, name, description",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used for contact us",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 =>Failed || Code 1 => Success",
					},

					{
						color     : 'teal',
						icon      : 'person',
						title     : '14 : AUTH',
						name      : 'Upgrade to main profile',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/upgrade_tomainprofile",
						mandatory : "student_id, email, country_code, phone, country, password",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used for upgrade to main profile",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 =>Failed || Code 1 => Success",
					},
						{
						color     : 'teal',
						icon      : 'person',
						title     : '15 : AUTH',
						name      : 'Delete User',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/delete_user",
						mandatory : "",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used for delete user",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 =>Failed || Code 1 => Success",
					},
						{
						color     : 'teal',
						icon      : 'person',
						title     : '16 : AUTH',
						name      : 'Home Video',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/home_video_list",
						mandatory : "",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY",
						notes     : "This api used for home video list",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 =>Failed || Code 1 => Success || Code 2 =>No Data Found ",
					},
						{
						color     : 'teal',
						icon      : 'person',
						title     : '17 : AUTH',
						name      : 'Region List',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/auth/region_list",
						mandatory : "",
						optional  : "country_id",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY",
						notes     : "This api used for get the Region List",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 =>Failed || Code 1 => Success || Code 2 =>No Data Found ",
					},
					{
						color     : 'green',
						icon      : 'person',
						title     : '0 : SERVICE',
						name      : 'Get Country Code List',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/service/get_countrycode_list",
						mandatory : "page",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY",
						notes     : "This api used to get country code list",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'green',
						icon      : 'person',
						title     : '1 : SERVICE',
						name      : 'Get Subscription List',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/service/get_subscription_list",
						mandatory : "",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY",
						notes     : "This api used to get subscription list",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'green',
						icon      : 'person',
						title     : '2 : SERVICE',
						name      : 'Get Contest List',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/service/get_contests_list",
						mandatory : "",
						optional  : "student_id,contest_type[live,video] , filter_byage['Adults','Teens','Juniors','Primary']",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get coontests list",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'green',
						icon      : 'person',
						title     : '3 : SERVICE',
						name      : 'Get Contest Details',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/service/get_contests_details",
						mandatory : "contest_id",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get coontest details",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'green',
						icon      : 'person',
						title     : '4 : SERVICE',
						name      : 'Get Promocode List',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/service/get_promocode_list",
						mandatory : "",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY",
						notes     : "This api used to get promocode list",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'green',
						icon      : 'person',
						title     : '5 : SERVICE',
						name      : 'Get Class List',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/service/get_class_list",
						mandatory : "",
						optional  : "student_id, filter_byage['Adults','Teens','Juniors','Primary']",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get class list based on user age group",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					// {
					// 	color     : 'green',
					// 	icon      : 'person',
					// 	title     : '6 : SERVICE',
					// 	name      : 'Get Class Details',
					// 	meth      : 'POST',
					// 	link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/service/get_class_details",
					// 	mandatory : "class_id",
					// 	optional  : "",
					// 	is_header : "YES",
					// 	is_push   : "NO",
					// 	header    : "API-KEY, TOKEN",
					// 	notes     : "This api used to get class details",
					// 	status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
					// 	imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					// },

					{
						color     : 'green',
						icon      : 'person',
						title     : '7 : SERVICE',
						name      : 'Get Video List',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/service/get_video_list",
						mandatory : "",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get video list",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'green',
						icon      : 'person',
						title     : '8 : SERVICE',
						name      : 'Get Prize List',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/service/get_prize_list",
						mandatory : "",
						optional  : "filter_by_points_min, filter_by_points_max,filter_by_points_by500",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY",
						notes     : "This api used to get prize list",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'green',
						icon      : 'person',
						title     : '9 : SERVICE',
						name      : 'Get Prize Details',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/service/get_prize_details",
						mandatory : "prize_id",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY",
						notes     : "This api used to get prize details",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},
					{
						color     : 'green',
						icon      : 'person',
						title     : '10 : SERVICE',
						name      : 'Get Promocode Details',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/service/get_promocode_details",
						mandatory : "promocode_id",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get promocode detil",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},
					{
						color     : 'green',
						icon      : 'person',
						title     : '11 : SERVICE',
						name      : 'Get Leaderboard List',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/service/get_leaderboard_list",
						mandatory : "",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY",
						notes     : "This api used to get Leaderboard list",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},
					{
						color     : 'green',
						icon      : 'person',
						title     : '12 : SERVICE',
						name      : 'Get Contest List details',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/service/get_contests_list_details",
						mandatory : "contest_id",
						optional  : "student_id,contest_type[live,video]",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get coontests list details",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '0 : USER',
						name      : 'Get Active Subscription List',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/get_activesubscriptions_list",
						mandatory : "",
						optional  : "student_id",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get user active subscription list",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '1 : USER',
						name      : 'Get Subprofile List',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/get_subprofile_list",
						mandatory : "",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get subprofile list",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '2 : USER',
						name      : 'Add Speech',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/add_speech",
						mandatory : "title, description, video , uploading_type",
						optional  : "student_id, duration, thumb_image , subscription_id",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to add/upload speech",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '3 : USER',
						name      : 'Get Speech List',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/get_speech_list",
						mandatory : "",
						optional  : "student_id",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get speech list",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},
					
					{
						color     : 'yellow',
						icon      : 'person',
						title     : '4 : USER',
						name      : 'Get Speech Details',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/get_speech_details",
						mandatory : "speech_id",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get speech details",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '5 : USER',
						name      : 'Delete Speech',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/delete_speech",
						mandatory : "speech_id",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to delete speech",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},
					
					{
						color     : 'yellow',
						icon      : 'person',
						title     : '8 : USER',
						name      : 'Add gift enrolled class',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/add_gift_enrolled_class",
						mandatory : "name, email, country_code, phone, class_id",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to add gift enrolled class",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '9 : USER',
						name      : 'Add to cart',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/addtocart",
						mandatory : "type[subscription,speech,contest,class,video,promocode], item_id",
						optional  : "student_id",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to add to cart",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '10 : USER',
						name      : 'Remove item from cart',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/remove_fromcart",
						mandatory : "",
						optional  : "item_id",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to remove item from cart",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '11 : USER',
						name      : 'Add item into wishlist',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/addtowishlist",
						mandatory : "type[subscription,speech,contest,class,video,promocode], item_id",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to add item into wishlist",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '12 : USER',
						name      : 'Fetch cart data',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/fetchcartdata",
						mandatory : "",
						optional  : "student_id",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to fetch cart data",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '13 : USER',
						name      : 'Apply promocode',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/apply_promocode",
						mandatory : "promocode",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to apply promocode",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '14 : USER',
						name      : 'Place order',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/placeorder",
						// item_type[subscription,speech,contest,class,video,promocode]
						mandatory : " subtotal , tax, totalamount, suborder, payment_mode[UPI,APPLE,Card]",
						optional  : "promocode, discount , card_id[payment_mode=>Card],student_id , redeem_points",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : 'This api used to place order. SUBORDER LIKE  suborder : [{"item_type":"subscription","item_id":"1","price":"12","total_points":"10"},{"item_type":"speech","item_id":"4","price":"10","total_points":"10"}]',
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '15 : USER',
						name      : 'Get user contest list',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/get_user_contest_list",
						mandatory : "",
						optional  : "student_id",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get user contest list",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '16 : USER',
						name      : 'Get user class list',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/get_user_class_list",
						mandatory : "",
						optional  : "student_id",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get user class list",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '16 : USER',
						name      : 'Get user evaluation',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/get_user_evaluation",
						mandatory : "",
						optional  : "student_id , evaluation_id",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get user evaluation",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '17 : USER',
						name      : 'Get notification list',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/notification_list",
						mandatory : "",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get notification list",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '18 : USER',
						name      : 'Clear Notification',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/clear_notification",
						mandatory : "",
						optional  : "notification_id",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to clear notification",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '19 : USER',
						name      : 'Get user wishlist',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/get_wishlist",
						mandatory : "",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get user wishlist",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '20 : USER',
						name      : 'Item Remove from Wishlist',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/remove_fromwishlist",
						mandatory : "wish_itemid",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to remove item from wishlist",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '21 : USER',
						name      : 'Get user contest details',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/get_user_contest_details",
						mandatory : "contest_id",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get user contest details",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '22 : USER',
						name      : 'Upload video for contest',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/upload_contestvideo",
						mandatory : "video, contest_id, thumb_image",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to upload video for contest",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '23 : USER',
						name      : 'Get user contest winner list',
						meth      : 'page',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/get_winnercontest_list",
						mandatory : "",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get user contest winner list",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

				

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '25 : USER',
						name      : 'Add manual Evaluation',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/set_manual_evaluation",
						mandatory : "evaluation_id,name",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to set manual evaluation",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '26 : USER',
						name      : 'Submit Speech for Evaluation',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/submit_for_evaluation",
						mandatory : "speech_id",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to submit speech for evaluation",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '27 : USER',
						name      : 'Generate Token using AGORA',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/generate_token_agora",
						mandatory : "class_id, type[class,contest]",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to generate token for online classes using agora",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '28 : USER',
						name      : 'Get Gift History',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/get_user_giftClassDetails",
						mandatory : "gift_type[giftto,received]",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get gift history",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},


					{
						color     : 'yellow',
						icon      : 'person',
						title     : '29 : USER',
						name      : 'Get purchased video',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/get_purchase_video",
						mandatory : "",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get purchased video",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},
					{
						color     : 'yellow',
						icon      : 'person',
						title     : '30 : USER',
						name      : 'Notification Setting',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/notification_serviceupdate",
						mandatory : "push_notification[yes, no], email[yes, no], sms[yes, no]",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to add/update notification setting",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '31 : USER',
						name      : 'Get Reward Points',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/get_reward_points",
						mandatory : "",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get reward points",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '32 : USER',
						name      : 'Get Reward Points History',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/get_reward_points_history",
						mandatory : "",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get reward points history",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'yellow',
						icon      : 'person',
						title     : '33 : USER',
						name      : 'Get Home Page Details',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/get_homepage_details",
						mandatory : "",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get home page details",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},
					{
						color     : 'yellow',
						icon      : 'person',
						title     : '34 : USER',
						name      : 'Get Notification Count',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/get_notification_count",
						mandatory : "",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get notification count",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},
					{
						color     : 'yellow',
						icon      : 'person',
						title     : '35 : USER',
						name      : 'Create Payment Intent',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/createPaymentIntent",
						mandatory : " totalamount, payment_mode[UPI,APPLE,Card]",
						optional  : " card_id[payment_mode=>Card], redeem_points",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to create the payment Intent",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},
	{
						color     : 'yellow',
						icon      : 'person',
						title     : '36 : USER',
						name      : 'Notification Setting Details',
						meth      : 'GET',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/notification_setting",
						mandatory : "",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get the notification setting details",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},
						{
						color     : 'yellow',
						icon      : 'person',
						title     : '37 : USER',
						name      : 'Total User video',
						meth      : 'GET',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/get_total_user_video",
						mandatory : "",
						optional  : "student_id",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get total user video",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},
					{
						color     : 'yellow',
						icon      : 'person',
						title     : '38 : USER',
						name      : 'Get user evaluation Details',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/get_user_evaluation_details",
						mandatory : "evaluation_id",
						optional  : "student_id ",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get user evaluation details",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},
					{
						color     : 'yellow',
						icon      : 'person',
						title     : '39 : USER',
						name      : 'Get user class list details',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/get_user_class_list_details",
						mandatory : "class_id",
						optional  : "student_id",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get user class list details",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},
					{
						color     : 'yellow',
						icon      : 'person',
						title     : '40 : USER',
						name      : 'Generate Token using AGORA RTM',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/generate_token_agora_RTM",
						mandatory : "",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to generate token for rtm",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},
					{
						color     : 'yellow',
						icon      : 'person',
						title     : '41 : USER',
						name      : 'check user block unblock status',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/check_user_block_unblock_status",
						mandatory : "id , type(contest , class)",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get the status of check_user_block_unblock_status",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},
					{
						color     : 'yellow',
						icon      : 'person',
						title     : '42 : USER',
						name      : 'get booking user',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/user/get_booking_user",
						mandatory : "id , type(contest , class)",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get the booking user List",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},
					{
						color     : 'pink',
						icon      : 'person',
						title     : '0 : PAYMENT',
						name      : 'Add Card',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/payment/add_card",
						mandatory : "card_holder_name, card_number, expiry_month, expiry_year, security_code",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to add card",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'pink',
						icon      : 'person',
						title     : '1 : PAYMENT',
						name      : 'Remove Card',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/payment/remove_card",
						mandatory : "card_id",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to remove card",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

					{
						color     : 'pink',
						icon      : 'person',
						title     : '2 : PAYMENT',
						name      : 'Get card list',
						meth      : 'POST',
						link      : "<%= GLOBALS.PORT_BASE_URL %>api/v1/payment/get_user_cardlist",
						mandatory : "",
						optional  : "",
						is_header : "YES",
						is_push   : "NO",
						header    : "API-KEY, TOKEN",
						notes     : "This api used to get user card list",
						status    : "<br>1. HTTP_OK[200] - code : 0 <br>2. HTTP_OK[200] - code : 1 ",
						imp       : "Code 0 => No data found or Failed || Code 1 => Success",
					},

				]
			})
		})
	</script>
</body>

</html>